.detail {
  display: flex;
  flex-direction: column;
  min-width: 30%;
  color: white;
  padding: 2% 2.5%;
  background: rgb(67, 87, 112);
  background: linear-gradient(
    120deg,
    rgba(67, 87, 112, 1) 0%,
    rgba(21, 46, 76, 1) 34%,
    rgba(16, 45, 92, 1) 66%,
    rgba(23, 58, 126, 1) 100%
  );
}

.detail__heading {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.detail__location {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.detail__city {
  font-size: 36px;
  font-weight: 500;
  padding-bottom: 2px;
}

.detail__country {
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 1.2px;
}

.detail__time {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 500;
}

.detail__weather-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 200px;
}

.detail__weather {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.detail__weather-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 45%;
}

.detail__weather-icon {
  max-height: 100px;
}

.detail__weather-icon img {
  width: 100px;
}

.detail__weather-value {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 72px;
  font-weight: 500;
}

.detail__weather-text {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  max-width: 35%;
  font-size: 26px;
  font-weight: 300;
  line-height: 1.2;
  padding-bottom: 28px;
  text-transform: capitalize;
}

.detail__separator {
  height: 20px;
  width: 100%;
  border-bottom: 1px solid $third-color;
}

.detail__chance {
  display: flex;
  flex-direction: column;
}

.detail__title {
  font-size: 22px;
  font-weight: 400;
  padding: 15px 0px 10px 0px;
}

.detail__chance-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 300;
  height: 60px;
}

.detail__clock {
  width: 55px;
}

.detail__chance-value {
  width: 55px;
  text-align: right;
}

.detail__progress-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 68%;
}

progress {
  border-radius: 99px;
  width: 100%;
  height: 35px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
progress::-webkit-progress-bar {
  background-color: rgba(79, 109, 153, 0.5);
  border-radius: 99px;
}
progress::-webkit-progress-value {
  transition: 0.8s ease-in-out;
  background-color: #8cb2fb;
  border-radius: 99px;
}
progress::-moz-progress-bar {
  background-color: rgba(79, 109, 153, 0.5);
  border-radius: 99px;
}
progress::-moz-progress-value {
  transition: 0.8s ease-in-out;
  background-color: #8cb2fb;
  border-radius: 99px;
}

.detail__sunrise {
  display: flex;
  flex-direction: column;
}

.detail__sunrise-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.detail__sunrise-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 48%;
  height: 120px;
  background-color: rgb(140, 178, 251, 0.15);
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid #8cb2fb;
    @include dropshadow;
  }
}

.detail__sunrise-icon {
  font-size: 28px;
  font-weight: 300;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1%;
}

.detail__sunrise-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.detail__sunrise-text {
  font-size: 18px;
  font-weight: 300;
}

.detail__sunrise-time,
.detail__sunset-time {
  font-size: 20px;
  font-weight: 500;
}

.detail__sunrise-estimate,
.detail__sunset-estimate {
  font-size: 13px;
  font-weight: 200;
  width: 29%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 2%;
}

@media only screen and (max-width: 1366px) {
  .body {
    overflow-x: hidden !important;
  }
  .detail__sunrise-time,
  .detail__sunset-time {
    font-size: 16px;
  }

  .detail {
    padding: 2% 2%;
  }
}
