.browser-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 700px;
}

.browser-section__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 60px 300px;
}

.browser-section__subheading {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1.2px;
    font-weight: 500;
    color: RGB(255, 109, 109);
    margin: 0px 0px 10px 0px;
}

.browser-section__background {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}


@media screen and (max-width: 768px)  {
    .browser-section {
        align-items: center;
        min-height: auto;
    }
    
    .browser-section__text {
        padding: 40px 0;
        max-width: 90%;
    }
    
    .browser-section__background {
        align-items: flex-end;
    }
    
    .browser-section__background-img {
        max-width: 90%;
    }
}

