.general {
    display: flex;
    flex-direction: column;
    min-width: 60%;
    padding: 30px 0;
}

.general__header {
    display: flex;
    flex-direction: row;
    padding: 0 30px;
    height: 80px;
    border-bottom: 2px solid #f6f8fc;
}

.general__header-dates {
    display: flex;
    flex-direction: column;
    min-width: 30%;
}

.general__heading {
    font-size: 24px;
    letter-spacing: 0.4px;
    color: #0F2546;
}

.general__subheading {
    @include p;
}

.general__header-elements {
    display: flex;
    flex-direction: row;
    min-width: 70%;
}